.nav-bar {
	height: 44px;
	line-height: 44px;
	background-color: #f5f5f5;
	color: #666;
}


/*购物车没有商品*/


.cart_null {
	height: 300px;
	line-height: 300px;
	margin-bottom: 40px;
	font-size: 18px;
	background-color: #FFF;
	color: #666;
	text-align: center;
}

.cart_null span {
	display: inline-block;
	width: 80px;
	height: 60px;
	margin-right: 14px;
	background: url(../img/base.png) no-repeat -78px -132px;
	vertical-align: -11px;
}

.cart_null a {
	padding: 0 5px;
	color: #e90404;
}


/*猜你喜欢*/

.likes {
	margin-bottom: 62px;
	background-color: #FFF;
}

.likes .nav1 {
	padding: 17px 0;
	margin-bottom: 39px;
	border-bottom: 1px solid #e0e0e0;
}

.likes .nav1 li {
	height: 25px;
	line-height: 25px;
	margin-left: -1px;
	padding: 0 63px;
	border-left: 1px solid #e0e0e0;
	font-size: 18px;
	color: #e90404;
	cursor: pointer;
}

.likes .content {
	height: 282px;
	width: 100%;
}

.likes .content .like {
	position: relative;
	text-align: center;
	width: 1190px;
	height: 198px;
}

.likes .content .like .prev,
.likes .content .like .next {
	position: absolute;
	width: 47px;
	height: 80px;
	top: 50%;
}

.likes .content .like a:hover {
	background: url(../img/rgba.png);
}

.likes .content .like .prev span {
	background-position: 0 -20px;
}

.likes .content .like .next span {
	background-position: -47px -20px;
}

.content .tempWrap {
	width: 1180px;
}

.like .prev span,
.like .next span {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/base.png);
}

.like .prev {
	margin-left: -585px;
}

.like .next {
	right: 50%;
	margin-right: -585px;
}


/*购物车有商品*/

.cart_list {
	margin-bottom: 43px;
}

.cart_list table {
	width: 100%;
}

.cart_list .state {
	width: 111px;
}

.cart_list .num {
	width: 200px;
}

.cart_list .prices {
	width: 150px;
}

.cart_list .operation {
	width: 150px;
}

.cart_list th {
	padding: 18px 0;
}

.cart_list th,
.cart_list td {
	font-size: 14px;
	color: #666;
	background-color: #FFF;
	border-bottom: 1px solid #ededed;
	text-align: center;
}

.checkbox {
	position: relative;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

.checkbox label {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #d4d4d4;
	background-color: #FFF;
	cursor: pointer;
}

.cart_list .state span {
	margin-right: 10px;
}

.checkbox .curr {
	background: #e32332 url(../img/base.png) no-repeat -78px -100px;
	border-color: #e32332;
}

.cart_list dl {
	margin: 29px 0;
}

.cart_list td img {
	display: inline;
	width: 72px;
	height: 72px;
	border: 1px solid #ddd;
}

.amount {
	display: inline-block;
	width: 78px;
	height: 22px;
	margin-right: 11px;
	border: 1px solid #e0e0e0;
	vertical-align: middle;
}

.cart_list .amount {
	margin-right: 0;
}

.amount span {
	display: inline-block;
	width: 23px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
}

.amount .reduce {
	background: url(../img/base.png) no-repeat -234px -97px;
}

.amount .plus {
	background: url(../img/base.png) no-repeat -233px -132px;
}

.amount input {
	width: 32px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 0;
	vertical-align: middle;
	font-size: 12px;
}

.cart_list .price {
	font-size: 20px;
	color: #e90404;
}

.cart_list td .del {
	display: inline-block;
	width: 22px;
	height: 20px;
	padding-top: 2px;
	border-radius: 11px;
}

.cart_list td .del:hover {
	background-color: #e32332;
}

.cart_list td .del:hover span {
	background-position: -292px -20px;
}

.cart_list td .del span {
	display: inline-block;
	width: 8px;
	height: 8px;
	overflow: hidden;
	background: url(../img/base.png) no-repeat -292px 0;
}

.cart_list td {
	vertical-align: middle;
	padding: 30px 0;
}

.cart_list td .stock {
	padding-top: 8px;
	color: #999;
}

.total_bar {
	margin-top: 5px;
	height: 90px;
	line-height: 90px;
	padding: 0 32px 0 28px;
	background-color: #FFF;
	font-size: 14px;
	color: #666;
}

.total_bar .left span {
	margin-right: 10px;
}

.total_bar .left a {
	margin-left: 22px;
}

.total_bar .right {
	position: relative;
}

.total_bar .right span {
	margin: 0 7px;
	color: #e90404;
}

.total_bar .right #num {
	font-size: 24px;
}

.total_bar .right .btn {
	width: 188px;
	height: 50px;
	margin-left: 20px;
	font-size: 18px;
	border: 0;
	cursor: pointer;
	color: #FFF;
	background-color: #e32332;
}

.total_bar .right .btn:hover {
	background-color: #C00;
}