/*面包屑导航*/

.nav-bar {
	height: 44px;
	line-height: 44px;
	background-color: #f5f5f5;
	color: #666;
}


/*商品信息*/


/*左边放大镜*/

.goods_detail {
	padding: 30px 0 40px 0;
	background-color: #FFF;
}

.picfocus {
	width: 430px;
	position: relative;
	margin-right: 59px;
}

.picfocus .tempWrap {
	width: 430px;
	border: 1px #ccc solid;
}

.picfocus .tempWrap ul {
	width: 430px;
	height: 430px;
	position: relative;
}

.picfocus .tempWrap ul li {
	border: 1px solid #ccc;
	position: absolute;
	width: 430px;
	height: 430px;
	left: 0;
	top: 0;
}


.picfocus .tempWrap img {
	width: 428px;
	height: 428px;
	display: none;
}

.picfocus .spic {
	margin-top: 10px;
	overflow: hidden;
}

.picfocus .spic ul {
	width: 440px;
}

.picfocus .spic li {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	opacity: 0.4;
	filter:alpha(opacity=40);
}
.picfocus .spic li.on{
	opacity: 1;
	filter:alpha(opacity=100);
}
.on{
	opacity: 1;
	filter:alpha(opacity=100);
}
.picfocus .spic li:hover{
	opacity: 1;
	filter:alpha(opacity=100);
}
.picfocus .spic li img{
	width: 100px;
	height: 100px;
}
.picfocus .tempWrap .sf{
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.4;
	cursor: move;
	visibility: hidden;
	
}
.gallery{
	position: relative;
}
.gallery .bf{
	width: 500px;
	height: 500px;
	position: absolute;
	left: 429px;
	top: 0;
	border: 1px solid #ccc;
	z-index: 999;
	overflow: hidden;
	display: none;
}
.gallery .bf img{
	position: absolute;
	left: 0;
	top: 0;
	width: 800px;
	height: 800px;
	display: none;
	
}
.gallery .share {
	height: 23px;
	padding-top: 25px;
	font-size: 14px;
}

.gallery .share span {
	display: inline-block;
	height: 11px;
	width: 13px;
	margin-right: 6px;
	background: url(../img/base.png) no-repeat -132px 0;
}

.gallery .share a:hover span {
	background-position: -145px 0
}


/*右边详情*/

.property {
	width: 684px;
	font-size: 14px;
}

.property .title h1 {
	padding-bottom: 20px;
	font-size: 30px;
	color: #474747;
	height: 80px;
	line-height: 40px;
	font-weight: normal;
}

.property .title p {
	font-size: 16px;
	color: #666;
}

.property .price {
	padding: 20px 0;
	margin: 34px 0 25px 0;
	font-size: 26px;
	color: #e90404;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.property .price s {
	padding-left: 20px;
	font-size: 16px;
	color: #999;
}

.property th {
	/*height: 48px;*/
	text-align: left;
	font-weight: normal;
	color: #9a9a9a;
	width: 72px;
}

.property .meta .from {
	padding-right: 5px;
}

.property .meta .to {
	padding: 5px 10px;
	margin-left: 5px;
	cursor: pointer;
	border: 1px solid #FFF;
	position: relative;
}

.property .meta .to:hover {
	background-color: #fff6f7;
	color: #e90404;
	border-color: #e32331;
}

.property .meta .to i {
	display: inline-block;
	width: 12px;
	height: 6px;
	margin-left: 5px;
	overflow: hidden;
	background: url(../img/base.png) no-repeat 0 0;
	vertical-align: middle;
}

.property .meta font {
	margin-left: 29px;
}

.amount {
	display: inline-block;
	width: 78px;
	height: 22px;
	margin-right: 11px;
	border: 1px solid #e0e0e0;
	vertical-align: middle;
}

.amount span {
	display: inline-block;
	width: 23px;
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
}

.amount .reduce {
	background: url(../img/base.png) no-repeat -234px -97px;
}

.amount input {
	width: 32px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 0;
	vertical-align: middle;
	font-size: 12px;
}

.amount .plus {
	background: url(../img/base.png) no-repeat -233px -132px;
}

.property .stock {
	color: #999;
}

.property .sold {
	padding-left: 15px;
	color: #999;
}

.property .sold font {
	padding: 0 5px;
	color: #C00;
}

.property th,
.property td {
	padding: 18px 0;
}

.property .btns {
	padding: 20px 0 53px;
}

.property .btns a {
	display: inline-block;
	width: 260px;
	height: 66px;
	line-height: 66px;
	margin-right: 16px;
	text-align: center;
	font-size: 24px;
}

.property .btns .buy {
	background-color: #e32332;
	color: #FFF;
}

.property .btns .buy:hover {
	background-color: #C00;
}

.property .btns .add {
	width: 258px;
	height: 64px;
	line-height: 64px;
	border: 1px solid #e32330;
	color: #ea0406;
}

.property .btns .add:hover {
	background-color: #C00;
	color: #FFF;
}

.property .btns .add:hover span {
	background-position: -184px -99px;
}

.property .btns a span {
	display: inline-block;
	background: url(../img/base.png) no-repeat;
	margin-right: 10px;
	vertical-align: -3px;
}

.property .btns .add span {
	width: 32px;
	height: 24px;
	background-position: -184px -74px;
}
.price i,.price b{
	font-weight: 200;
	font-style: normal;
}